@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.pizza-form {
background-color: #fdf0e7;
}
body {
  background-color: #f1d8c5;
  font-family: 'Crimson Text', serif;
}

.priceClass {
  margin-bottom: 5vw;
  height: 5vh;
}
/* label {
  margin: 1rem 0;
} */
/* 
input[type="radio"],
input[type="checkbox"] {
  margin: 0 .5rem;
} */